.menu-wrapper {
  animation: border-transform 1s;
  transition: 500ms;
  overflow-y: scroll;
  // right 350ms 1100ms cubic-bezier(0.23, 1, 0.32, 1),
  // transform 250ms 1100ms ease,
  // width 650ms 400ms cubic-bezier(0.23, 1, 0.32, 1),
  // height 650ms 400ms cubic-bezier(0.23, 1, 0.32, 1);

  @keyframes border-transform {
    from {
      width: 5%;
      opacity: 0.1;
    }
    to {
      width: 100%;
      opacity: 1;
    }
  }

  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 999;
  background-color: #024638;
  color: white;
  display: flex;
  justify-content: center;

  .container{
    display: flex;
    flex-direction: column;
    gap: 25px;
    margin: 0 20px;
  }
  .menu-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    height: 80px;
  }
  .logo {
    cursor: pointer;
  }
  .close-icon-wrapper {
    cursor: pointer;
    height: 30px;
    width: 30px;
    img {
      height: 100%;
      width: 100%;
      filter: invert(100%);
    }
  }
  .menu-container {
    cursor: pointer;
    user-select: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .menu-item {
    font-family: "Prumo Deck";
    font-style: normal;
    font-weight: 200;
    font-size: 30px;
    text-transform: uppercase;
    color: #ffffff;  
  }
  .current-active{
    font-weight: 400;
  }
  .menu-items:hover{
    color: unset;
  }
  .menu-icon {
    width: 40px;
    height: 40px;
    img {
      height: 80%;
      width: 80%;
    }
  }
}

@media only screen and (max-width: 2560px) {
  .menu-wrapper{
    .container {
      max-width: 1800px;
    }
  }
}

@media only screen and (max-width: 1920px) {
  .menu-wrapper{
    .container {
      max-width: 1350px;
    }
  }
}

@media only screen and (max-width: 1440px) {
  .menu-wrapper{
    .container {
      max-width: 1000px;
      gap: 18px;
    }
    .menu-item {
      font-size: 26px;
    }
  }
}

@media only screen and (max-width: 768px) {
  .menu-wrapper {
    .menu-header{
      margin-bottom: 0;
    }
    .menu-item {
      font-size: 30px;
    }
    .menu-icon {
      width: 30px;
      height: 30px;
    }
  }
}

@media only screen and (max-width: 480px) {
  .menu-wrapper {
    .menu-header{
      height: 63px;
    }
    .logo {
      width: auto;
      height: 27px;
    }
    .close-icon-wrapper {
      height: 24px;
      width: 24px;
    }
    .menu-item {
      font-size: 24px;
    }
    .menu-icon {
      width: 24px;
      height: 24px;
    }
  }
}
