.ChkOrRbtToggleRoundText,
.ChkOrRbtToggleTypeColorLessText {
    background-color: rgb(228, 228, 236);
    margin-right: 5px;
    display: inline-block;
    padding: 5px;
    color: #282727;
    border-radius: 5px;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    user-select: none;
    transition: background-color .2s, box-shadow .2s;
    text-align: center;
    overflow: hidden;
    word-wrap: normal;
    width: 60px;
    font-size: 14px !important;
}

.ChkOrRbtToggleTypeColorLess input[type=checkbox]:checked ~ .ChkOrRbtToggleTypeColorLessText,
.ChkOrRbtToggleTypeColorLess input[type=radio]:checked ~ .ChkOrRbtToggleTypeColorLessText,
.ChkOrRbtToggleRound input[type=checkbox]:checked ~ .ChkOrRbtToggleRoundText,
.ChkOrRbtToggleRound input[type=radio]:checked ~ .ChkOrRbtToggleRoundText {
    margin-right: 5px;
    color: black;
    border: solid 1px rgb(232, 123, 86);
    background-color: rgba(249, 205, 188, 0.69);
    font-weight: bold;
}