@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: "YourFontFamily";
  src: url("../assets/fonts/prumo/PrumoDeck-Black.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: fallback;
}
@import url("../assets/fonts/lemonMilk/lemonMilkFont.css");
@import url("../assets/fonts/prumo/prumoDeckFont.css");
@import url("../assets/fonts/prumo/prumoDeckFont.css");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Roboto:ital,wght@0,400;1,700&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css");

body {
  height: 100vh;
}

[type="date"] {
  background: url(https://blgdlab.com/Bookappoinment/datepicker.svg)
    100% 50% no-repeat;
  background-size: 50px;
  text-transform: uppercase;
}
[type="emailbook"] {
  background: url(https://blgdlab.com/Homepage/smsfinal.svg)
    100% 50% no-repeat;
  background-size: 50px;
}
[type="numberbook"] {
  background: url(https://blgdlab.com/Homepage/phonewhite.svg)
    100% 50% no-repeat !important;
  background-size: 50px !important;
}

[type="date"]::-webkit-inner-spin-button {  
  display: none;
  width: 50px;
  height: 50px;
}

[type="date"]::-webkit-calendar-picker-indicator {
  opacity: 0;
  width: 50px;
  height: 50px;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

[type="time"] {
  background: url(https://blgdlab.com/Bookappoinment/timepicker.svg)
    100% 50% no-repeat;
  background-size: 50px;
  text-transform: uppercase;
}

[type="time"]::-webkit-inner-spin-button {
  display: none;
  width: 50px;
  height: 50px;
}

[type="time"]::-webkit-calendar-picker-indicator {
  opacity: 0;
  width: 50px;
  height: 50px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: transparent;
  border-radius: 10px;
}

::-webkit-scrollbar {
  width: 0px;
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #fff;
  background-image: -webkit-gradient(
    linear,
    40% 0%,
    75% 84%,
    from(#114538),
    to(#114538),
    color-stop(0.6, #114538)
  );
}

.ql-font-PrumoDeck,
.ql-font span[data-value="PrumoDeck"]::before {
  font-family: "Prumo Deck";
  content: "Prumo Deck" !important;
}

.ql-font-IBMPlexSans,
.ql-font span[data-value="IBMPlexSans"]::before {
  font-family: "IBM Plex Sans";
  content: "IBM Plex Sans" !important;
}

.ql-snow .ql-picker.ql-font {
  width: 120px !important;
}

/*

.google-translate-wrapper .goog-te-menu-value {
  padding: 5px 10px;
  border-radius: 5px;
  background-color: #f2f2f2;
  border: 1px solid #ccc;
  font-family: Arial, sans-serif;
  font-size: 14px;
  color: #333;
}

.google-translate-wrapper .goog-te-menu-value span {
  margin-right: 5px;
}

.google-translate-wrapper .goog-te-menu-frame {
  border-radius: 5px;
  border: 1px solid #ccc;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.google-translate-wrapper .goog-te-menu2-item-selected {
  background-color: #007bff !important;
  color: #fff !important;
}
.goog-te-gadget-icon {
  display: none;
}
.VIpgJd-ZVi9od-xl07Ob-lTBxed {
  display: flex;
}
.google-translate-wrapper {
  display: flex;
  align-items: center;
}
.goog-te-gadget-simple {
  padding: 10px 25px !important;
  border-radius: 10px;
  font-family: "Prumo Deck";
  font-size: 18px !important;
  font-weight: 600;
  background-color: transparent !important;
  border: 1px solid #fff !important;
}
.goog-te-gadget-simple .VIpgJd-ZVi9od-xl07Ob-lTBxed span {
  color: #fff;
}

.VIpgJd-ZVi9od-xl07Ob-lTBxed img{
  display:none;
}
.VIpgJd-ZVi9od-xl07Ob-lTBxed span:last-child,
.VIpgJd-ZVi9od-xl07Ob-lTBxed span:nth-last-child(2) {
    display: none;
}
.goog-te-gadget-simple .VIpgJd-ZVi9od-xl07Ob-lTBxed span{
  border-left:0px !important;
} */



/* 
.google-translate-wrapper .goog-te-menu-value,
.goog-te-menu-value > span,
.goog-te-menu-value > span > span {
  color: red !important; 
  font-size: 20px !important; 
}

.google-translate-wrapper .goog-te-menu-frame {
  font-size: 20px !important; 
}

.google-translate-wrapper .goog-te-menu2-item-selected {
  background-color: black !important;
  color: #fff !important;
} */
/* .VIpgJd-ZVi9od-vH1Gmf-ibnC6b div > .indicator {
  display: none !important; 
}
.goog-te-combo .indicator {
  display: none !important;
} */

/* .VIpgJd-ZVi9od-vH1Gmf-ibnC6b .indicator{
  display: none !important;
}

.VIpgJd-ZVi9od-ORHb-OEVmcd{
  display: none !important;
} */