.dn-diamond {
    display: inline-block;
    width: 80px;
    height: 80px;
    /* background: #114538; */
    /* transform: rotate(-45deg); */
    margin: 50px;
    overflow: hidden;
    animation: spin 3s infinite linear;
  }
  
  
  @keyframes spin {
    from { 
      transform: rotateY(0deg); 
    }
    to {
      transform: rotateY(360deg); 
    }
  }